body{
    background-color: blue;  color: white;
    font-family: 'Courier New', Courier, monospace;
}

.board_wrap {
    width: 80%;
    margin: 70px auto;
}

.board_title {  margin-bottom: 40px; }
.board_title > a{ font-size: 50px; text-decoration: none; }
.board-title > a:link, a:visited{ color: rgb(0, 0, 80);  }
.board_title > a:hover{ color: white;}

button{
    font-family: 'Courier New', Courier, monospace;
    font-size: large; font-weight: bold;
    padding: 12px;
    color: white;  background-color: rgb(119, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;
}
button:active{
    margin-left: 5px;   margin-top: 5px;
    box-shadow: none;
}
.board_title button{  float: right; }

.board_list {
    width: 100%;
    border-top: 3px solid #ddd;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 3px solid #ddd;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .id {
    width: 20%;
}

.board_list .title {
    width: 40%;
    text-align: center;
}

.board_list .top .title {
    text-align: center;
}

.board_list .count {
    width: 15%;
}

.board_list .stop {
    width: 15%;
}

.stop button{
    color: red;
    background:none;
    border: 1px solid red;
    padding: 6px;
    border-radius: 5px;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}



.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 8px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top:7px;
    font-size: 1.4rem;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}